.about-company__row {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.about-company__desc {
  max-width: 852px;
  flex-basis: 852px;

  &:first-of-type {
    padding-right: 110px;
  }

  &:last-of-type {
    padding-left: 75px;
  }
}

.about-company__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}

.about-company__image {
  margin-left: -60px;
  height: 160px;
  width: auto;

  img {
    height: 100%;
    object-fit: contain;
  }
}

.about-company__title {
  text-align: left;
  margin-left: 30px;

  i {
    font-size: 40px;
    color: $color-red;
    vertical-align: middle;
    margin-left: 8px;
  }
}

.about-company__desc {
  p {
    margin-bottom: 16px;
    font-size: 18px;

    i {
      font-size: 20px;
      color: $color-red;
      vertical-align: middle;
      margin-left: 8px;
    }

    img {
      vertical-align: middle;
    }
  }

  .about-company__count {
    font-size: 42px;
  }

  a {
    border-bottom-color: inherit;

    &:hover {
      border-bottom-color: transparent;
    }
  }

  .production__title {
    width: 105px;
    flex-basis: 105px;
  }

  .director__name {
    margin-bottom: 0;
  }
}

.director__about {
  position: relative;
  margin: 35px 0;

  p {
    font-style: italic;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    display: block;
    width: 32px;
    height: 26px;
    background: url("../img/about/quotes.png") no-repeat center;
  }

  &:before {
    top: -10px;
    left: -45px;
    transform: rotate(180deg);
  }

  &:after {
    right: -20px;
    bottom: -10px;
  }
}

.about-company-director {
  width: 100vw;
  max-width: 888px;
  -webkit-border-radius: 30px 0 0 30px;
  -moz-border-radius: 30px 0 0 30px;
  border-radius: 30px 0 0 30px;
}

.director {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 770px;
  padding: 30px 0 30px 90px;
}

.director__image {
  margin-left: 30px;
}

.about-company__video {
  margin-left: 60px;

  p {
    font-size: 14px;
  }
}

.about-matherial {
  h2 {
    display: flex;
    align-items: center;

    i {
      color: $color-red;
      font-size: 36px;
      margin-left: 10px;
    }
  }
}

.director__desc {
  padding: 25px 0;
}

.about-matherial__row {
  margin-left: -30px;
  margin-right: -30px;
}

.about-matherial__item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 30px;
  margin-top: 50px;
}

.about-matherial__icon {
  margin-right: 18px;
}

.about-matherial__desc {
  strong {
    display: block;
    margin-bottom: 8px;
    color: #4c8edf;
    font-weight: 500;
  }
}

.about-guarantee__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-guarantee__items {
  max-width: 740px;
}

.about-guarantee__item {
  margin-top: 45px;
}

.about-guarantee__item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.about-guarantee__icon {
  margin-right: 18px;
  min-width: 84px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.about-guarantee__desc {
  strong {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
  }
}

.about-guarantee__image {
  max-width: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 850px
}