/*----
Solutions
----*/
.sidebar__breadcrumbs {
  margin-bottom: 40px;
}

.sidebar__container .sidebar__title {
  margin-left: 0;
}

.filter-title {
  padding-top: 15px;
  border-top: 1px solid #e8e8e8;
}

.filter-group {
  margin: 10px 0 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.filter-group_scroll {
  background: #ffffff;
  padding: 12px;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.filter-group__label {
  margin-bottom: 14px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.checkbox__input {
  display: none;

  &:checked {
    & + .checkbox__new-style:before {
      transform: rotate(-45deg);
      opacity: 1;
    }
  }
}

.checkbox__new-style {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #d0d2dc;
  background: #ffffff;
  margin-right: 10px;

  &:before {
    content: '';
    position: absolute;
    right: -4px;
    top: -1px;

    width: 15px;
    height: 8px;
    border: {
      top: none;
      bottom: 2px solid #3d3d3d;
      right: none;
      left: 2px solid #3d3d3d;
    };

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    transition: all .3s ease-out;
    transform: rotate(0);
    opacity: 0;
  }
}

.checkbox__caption {
  font-size: 14px;
}

.sorting {
  justify-content: space-between;
  align-items: center;
  height: 48px;
  padding: 0 12px;
  margin: 40px 0 25px;
  background: #f8f8f8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  p {
    font-size: 16px;
    margin-right: 20px;
  }

  .checkbox {
    margin-right: 20px;
  }
}

.solution-item__top {
  display: flex;
  border: 1px solid #c4c4c4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.solution-info {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 20px 25px;

  p {
    font-size: 14px;
    margin-bottom: 12px;
  }

  .solution-desc__category {
    color: #e47e24;
    font-size: 14px;
    font-weight: 500;
  }

  .solution-desc__title {
    font-size: 18px;
    font-weight: 300;
  }
}

.solution-char {
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px solid #e8e8e8;
}

.solution-char__icon {
  position: relative;
  width: 20px;
  height: 24px;

  & + .solution-char__icon {
    margin-left: 15px;
  }
}

.solution-char__link {
  height: 100%;
  width: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.solution-char__more {
  display: none;
}