/*----
Solutions
----*/
.sidebar__breadcrumbs {
  margin-bottom: 40px;
}

.sidebar__container .sidebar__title {
  margin-left: 0;
}

.filter-title {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 15px;
  border-top: 1px solid #e8e8e8;

  sup {
    align-self: flex-start;
  }

  i {
    position: relative;
    margin-left: 10px;
    cursor: pointer;
    color: #bcbcbc;
    font-size: 18px;

    &:hover {
      color: $color-green;
    }
  }
}

.filter-title__more-info {
  position: absolute;
  display: none;
  top: 100%;
  left: -20px;
  min-width: 200px;
  border-style: solid;
  border-width: 23px 38px 14px 15px;
  -moz-border-image: url(../img/tooltip-bg.png) 23 38 14 15 round repeat;
  -webkit-border-image: url(../img/tooltip-bg.png) 23 38 14 15 round repeat;
  -o-border-image: url(../img/tooltip-bg.png) 23 38 14 15 round repeat;
  border-image: url(../img/tooltip-bg.png) 23 38 14 15 round repeat;
  z-index: 20;
  transform: scale(-1, 1);

  span {
    position: relative;
    display: block;
    margin-right: -20px;
    background: #fff;
    transform: scale(-1, 1);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: $color-black;
  }
}

.filter-group {
  margin: 10px 0 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.filter-group_scroll {
  background: #ffffff;
  padding: 12px;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.filter-group__label {
  position: relative;
  margin-bottom: 14px;

  &:last-of-type {
    margin-bottom: 0;
  }

  &:before {
    content: attr(data-result);
    position: absolute;
    right: 0;
    top: 0;
    font-size: 14px;
    color: #b0b0b0;
  }
}

.checkbox__input {
  display: none;

  &:checked {
    & + .checkbox__new-style:before {
      transform: rotate(-45deg);
      opacity: 1;
    }
  }
}

.checkbox__new-style {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #d0d2dc;
  background: #ffffff;
  margin-right: 10px;

  &:before {
    content: '';
    position: absolute;
    right: -4px;
    top: -1px;

    width: 15px;
    height: 8px;
    border: {
      top: none;
      bottom: 2px solid #3d3d3d;
      right: none;
      left: 2px solid #3d3d3d;
    }
  ;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    transition: all .3s ease-out;
    transform: rotate(0);
    opacity: 0;
  }
}

.checkbox__caption {
  font-size: 14px;
}

.sorting {
  justify-content: space-between;
  align-items: center;
  height: 48px;
  padding: 0 12px;
  margin: 40px 0 25px;
  background: #f8f8f8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  p {
    font-size: 16px;
    margin-right: 20px;
  }

  .checkbox {
    margin-right: 20px;
  }
}

.sorting-select {
  padding: 0 10px;
  height: 30px;
  border: none;
  background: #ffffff;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.sorting__type {
  align-items: center;
}

.solution-item {
  margin-bottom: 35px;
}

.solution-item__top {
  display: flex;
  align-items: stretch;
  height: 200px;
  border: 1px solid #c4c4c4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  transition: all .3s ease-out;
}

.solution-item__top_active {
  box-shadow: 0 6px 38px 0 rgba(0, 7, 3, 0.07);

  .solution-price__more-btn {
    height: 20px;
    min-width: 0;
    padding: 0;
    border-color: transparent;

    &:hover {
      background: transparent;
      color: $color-black;
    }
  }

  i.icon-arrow {
    transform: rotate(-90deg);
  }
}

.solution-image {
  max-width: 260px;
  flex-basis: 260px;
  height: 100%;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.solution-info {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  align-items: stretch;
  padding: 20px 25px;

  p {
    font-size: 14px;
    margin-bottom: 6px;
  }

  .solution-desc__category {
    color: #e47e24;
    font-size: 14px;
    font-weight: 500;
  }

  .solution-desc__title {
    font-size: 18px;
    font-weight: 300;
  }
}

.solution-desc {
  max-width: 360px;
  flex-basis: 360px;
}

.solution-char {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #e8e8e8;
}

.solution-char__icon {
  position: relative;
  width: 20px;
  height: 24px;

  & + .solution-char__icon {
    margin-left: 15px;
  }
}

.solution-char__link {
  height: 100%;
  width: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.solution-char__more {
  position: absolute;
  top: calc(100% - 6px);
  right: -17px;
  display: none;
  min-width: 200px;
  border-style: solid;
  border-width: 23px 38px 14px 15px;
  -moz-border-image: url(../img/tooltip-bg.png) 23 38 20 15 round repeat;
  -webkit-border-image: url(../img/tooltip-bg.png) 23 38 20 15 round repeat;
  -o-border-image: url(../img/tooltip-bg.png) 23 38 20 15 round repeat;
  border-image: url(../img/tooltip-bg.png) 23 38 20 15 round repeat;
  z-index: 30;

  p {
    position: relative;
    display: block;
    height: 100%;
    margin-right: -20px;
    margin-bottom: 0;
    background: #fff;
    font-size: 13px;
    color: $color-black;
  }
}

.solution-price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  text-align: right;

  p {
    font-size: 14px;
    line-height: 1.07;
    margin-bottom: 0;
  }

  .solution-price__item {
    font-size: 30px;
    line-height: 1.07;
  }
}

.solution-price__more-btn {
  min-width: 167px;
}

.solution-item__bottom {
  display: none;
  justify-content: space-between;
  align-items: stretch;
  margin-top: -1px;
  border: 1px solid #c4c4c4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}

.solution-more-desc {
  max-width: 564px;
  flex-basis: 564px;
  padding: 35px 30px 25px;
  background: #ffffff;

  p {
    font-size: 14px;
    margin-bottom: 4px;
  }
}

.solution-calc {
  max-width: 331px;
  flex-basis: 331px;
  padding: 35px 30px 25px;
  background: #f8f8f8;

  .btn {
    margin-top: 35px;
    margin-left: -5px;
    max-width: 258px;
  }
}

.solution-more-desc__section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 20px 0;
  padding: 20px 0;
  border: {
    top: 1px solid #e8e8e8;
    bottom: 1px solid #e8e8e8;
  }
;

  p {
    & + p {
      margin-top: 12px;
    }
  }
}

.solution-more-desc__text {
  margin-left: 10px;
}

.solution__text-icon {
  padding-left: 60px;
  background: url("../img/like.png") no-repeat left top;
}

.solution-calc__title {
  font-size: 18px;
  font-weight: 500;
}

.solution-calc__input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 30px 0 29px;

  span {
    font-size: 14px;
  }

  input {
    width: 123px;
    height: 40px;
    font-size: 18px;
    padding: 0 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #c4c4c4;
    margin-top: 6px;
    font-weight: 300;
  }
}

.solution-calc__result {
  p {
    font-size: 14px;
  }

  .solution-calc__result-count {
    font-size: 18px;
    font-weight: 500;
  }
}