$icomoon-font-path: "../fonts" !default;

$icon-brush2: "\e927";
$icon-bucket: "\e95b";
$icon-roll: "\e95c";
$icon-cinema: "\e95d";
$icon-evacuation: "\e95e";
$icon-golf: "\e95f";
$icon-gym: "\e960";
$icon-playground: "\e961";
$icon-playgrounds: "\e962";
$icon-rest-zone: "\e963";
$icon-sidewalk: "\e964";
$icon-skates: "\e965";
$icon-sportground: "\e966";
$icon-stadium: "\e967";
$icon-arrow-2: "\e968";
$icon-bucket2: "\e969";
$icon-docs: "\e96a";
$icon-headset: "\e96b";
$icon-hempel: "\e96c";
$icon-microscope: "\e96d";
$icon-money: "\e96e";
$icon-NG-color-path1: "\e96f";
$icon-NG-color-path2: "\e970";
$icon-NG-color-path3: "\e971";
$icon-NG-color-path4: "\e972";
$icon-NG: "\e973";
$icon-pen: "\e974";
$icon-pin-map-TNP: "\e975";
$icon-playground-2: "\e976";
$icon-roll-paint: "\e977";
$icon-truck-tnp: "\e978";
$icon-D-path1: "\e94a";
$icon-D-path2: "\e94c";
$icon-D-path3: "\e958";
$icon-fb: "\e900";
$icon-im: "\e901";
$icon-vk: "\e902";
$icon-yb: "\e903";
$icon-title: "\e904";
$icon-play: "\e905";
$icon-layer-bottom-path1: "\e906";
$icon-layer-bottom-path2: "\e907";
$icon-layer-bottom-path3: "\e908";
$icon-layer-bottom-path4: "\e909";
$icon-layer-middle-path1: "\e90a";
$icon-layer-middle-path2: "\e90b";
$icon-layer-middle-path3: "\e90c";
$icon-layer-middle-path4: "\e90d";
$icon-layer-top-path1: "\e90e";
$icon-layer-top-path2: "\e90f";
$icon-layer-top-path3: "\e910";
$icon-layer-top-path4: "\e911";
$icon-menu-item-1: "\e912";
$icon-menu-item-1-hov: "\e913";
$icon-menu-item-2: "\e914";
$icon-menu-item-2-hov: "\e915";
$icon-menu-item-3: "\e916";
$icon-menu-item-3-hov: "\e917";
$icon-menu-item-4: "\e918";
$icon-menu-item-4-hov: "\e919";
$icon-menu-item-5: "\e91a";
$icon-menu-item-5-hov: "\e91b";
$icon-menu-item-6: "\e91c";
$icon-menu-item-6-hov: "\e91d";
$icon-menu-item-7: "\e91e";
$icon-menu-item-7-hov: "\e91f";
$icon-menu-item-8: "\e920";
$icon-menu-item-8-hov-path1: "\e921";
$icon-menu-item-8-hov-path2: "\e922";
$icon-calc-item-1: "\e923";
$icon-calc-item-2: "\e924";
$icon-calc-item-3: "\e925";
$icon-calc-item-4: "\e926";
$icon-calc-item-6: "\e928";
$icon-arrow: "\e929";
$icon-cross: "\e92a";
$icon-load: "\e92b";
$icon-mail: "\e92c";
$icon-pdf: "\e92d";
$icon-question: "\e92e";
$icon-question-full-path1: "\e92f";
$icon-question-full-path2: "\e930";
$icon-time: "\e931";
$icon-zoom: "\e932";
$icon-bank: "\e933";
$icon-banks-path1: "\e934";
$icon-banks-path2: "\e935";
$icon-banks-path3: "\e936";
$icon-banks-path4: "\e937";
$icon-banks-path5: "\e938";
$icon-banks-path6: "\e939";
$icon-banks-path7: "\e93a";
$icon-banks-path8: "\e93b";
$icon-banks-path9: "\e93c";
$icon-roller-needle: "\e93d";
$icon-roller: "\e93e";
$icon-quote: "\e93f";
$icon-gloss: "\e940";
$icon-download: "\e941";
$icon-notched-trowel: "\e942";
$icon-calculator: "\e943";
$icon-brush: "\e944";
$icon-book: "\e945";
$icon-medical: "\e946";
$icon-medical-2: "\e947";
$icon-metro: "\e948";
$icon-bag-20kg: "\e949";
$icon-mixer: "\e959";
$icon-lightning: "\e94b";
$icon-footwear: "\e95a";
$icon-office: "\e94d";
$icon-parking: "\e94e";
$icon-production: "\e94f";
$icon-vacuum-cleaner: "\e950";
$icon-rub: "\e951";
$icon-hand: "\e952";
$icon-stock: "\e953";
$icon-like: "\e954";
$icon-trade: "\e955";
$icon-color: "\e956";
$icon-trowel: "\e957";

