extends includes/_layout

block content
    main#main-content
        .catalog
            .container
                .catalog-inline
                    aside.sidebar.block
                        nav.sidebar-menu
                            p.sidebar-menu__title: strong Каталог
                            ul
                                li.sidebar-menu__item: a(href="#")
                                    i.icon-bucket2
                                    span Наливные полы
                                li.sidebar-menu__item: a(href="#")
                                    i.icon-bucket2
                                    span Краски для бетона
                                li.sidebar-menu__item: a(href="#")
                                    i.icon-bucket2
                                    span Покрытия для детских и спортивных площадок
                                li.sidebar-menu__item: a(href="#")
                                    i.icon-bucket2
                                    span Teping НГ КМ0
                                li.sidebar-menu__item: a(href="#")
                                    i.icon-bucket2
                                    span Hempel
                        .download-file
                            i.icon-pdf
                            .download-file__caption
                                p Референц-лист TNP Group
                                a(href="#") скачать .pdf
                        .solutuins-link
                            .solutuins-link__image
                                img(src="./img/")
                            p.solutuins-link__title: strong Готовые решения
                            p Надёжный эпоксидный пол для любых типов объектов. Высокая износостойкость, устойчивость к воздействию нефтехимии
                            a(href="#").btn.btn-red-transparent
                                | Посмотреть готовые решения
                                i.icon-arrow-2
                    section.content.block
                        h2 Наливные полы
                        .catalog-item
                            p.catalog-item__title
                                i.icon-stock
                                span Teping Пол 205 C
                                span.catalog-item__tag Хит
                            .catalog-item__inline
                                p Надёжный эпоксидный пол для любых типов объектов. Высокая износостойкость, устойчивость к воздействию нефтехимии, отличный внешний вид. Двухкомпонентный, колеровка по RAL
                                .catalog-item__info
                                    .catalog-item__price-list
                                        p за комплект: 5 475 руб.
                                        p масса комплекта: 14,8 кг
                                    .catalog-item__price
                                        p за кг
                                        p.price 370 ₽
                        .catalog-item
                            p.catalog-item__title
                                i.icon-stock
                                span Teping Пол 205 C
                                span.catalog-item__tag Хит
                            .catalog-item__inline
                                p Надёжный эпоксидный пол для любых типов объектов. Высокая износостойкость, устойчивость к воздействию нефтехимии, отличный внешний вид. Двухкомпонентный, колеровка по RAL
                                .catalog-item__info
                                    .catalog-item__price-list
                                        p за комплект: 5 475 руб.
                                        p масса комплекта: 14,8 кг
                                    .catalog-item__price
                                        p за кг
                                        p.price 370 ₽
                        .catalog-item
                            p.catalog-item__title
                                i.icon-stock
                                span Teping Пол 205 C
                                span.catalog-item__tag Хит
                            .catalog-item__inline
                                p Надёжный эпоксидный пол для любых типов объектов. Высокая износостойкость, устойчивость к воздействию нефтехимии, отличный внешний вид. Двухкомпонентный, колеровка по RAL
                                .catalog-item__info
                                    .catalog-item__price-list
                                        p за комплект: 5 475 руб.
                                        p масса комплекта: 14,8 кг
                                    .catalog-item__price
                                        p за кг
                                        p.price 370 ₽
                        .catalog-item
                            p.catalog-item__title
                                i.icon-stock
                                span Teping Пол 205 C
                                span.catalog-item__tag Хит
                            .catalog-item__inline
                                p Надёжный эпоксидный пол для любых типов объектов. Высокая износостойкость, устойчивость к воздействию нефтехимии, отличный внешний вид. Двухкомпонентный, колеровка по RAL
                                .catalog-item__info
                                    .catalog-item__price-list
                                        p за комплект: 5 475 руб.
                                        p масса комплекта: 14,8 кг
                                    .catalog-item__price
                                        p за кг
                                        p.price 370 ₽
                        .catalog-item
                            p.catalog-item__title
                                i.icon-stock
                                span Teping Пол 205 C
                                span.catalog-item__tag Хит
                            .catalog-item__inline
                                p Надёжный эпоксидный пол для любых типов объектов. Высокая износостойкость, устойчивость к воздействию нефтехимии, отличный внешний вид. Двухкомпонентный, колеровка по RAL
                                .catalog-item__info
                                    .catalog-item__price-list
                                        p за комплект: 5 475 руб.
                                        p масса комплекта: 14,8 кг
                                    .catalog-item__price
                                        p за кг
                                        p.price 370 ₽
                        h2 Краски для бетона
                        .catalog-item
                            p.catalog-item__title
                                i.icon-stock
                                span Teping Пол 205 C
                                span.catalog-item__tag Хит
                            .catalog-item__inline
                                p Надёжный эпоксидный пол для любых типов объектов. Высокая износостойкость, устойчивость к воздействию нефтехимии, отличный внешний вид. Двухкомпонентный, колеровка по RAL
                                .catalog-item__info
                                    .catalog-item__price-list
                                        p за комплект: 5 475 руб.
                                        p масса комплекта: 14,8 кг
                                    .catalog-item__price
                                        p за кг
                                        p.price 370 ₽
                        .catalog-item
                            p.catalog-item__title
                                i.icon-stock
                                span Teping Пол 205 C
                                span.catalog-item__tag Хит
                            .catalog-item__inline
                                p Надёжный эпоксидный пол для любых типов объектов. Высокая износостойкость, устойчивость к воздействию нефтехимии, отличный внешний вид. Двухкомпонентный, колеровка по RAL
                                .catalog-item__info
                                    .catalog-item__price-list
                                        p за комплект: 5 475 руб.
                                        p масса комплекта: 14,8 кг
                                    .catalog-item__price
                                        p за кг
                                        p.price 370 ₽
                        .catalog-item
                            p.catalog-item__title
                                i.icon-stock
                                span Teping Пол 205 C
                                span.catalog-item__tag Хит
                            .catalog-item__inline
                                p Надёжный эпоксидный пол для любых типов объектов. Высокая износостойкость, устойчивость к воздействию нефтехимии, отличный внешний вид. Двухкомпонентный, колеровка по RAL
                                .catalog-item__info
                                    .catalog-item__price-list
                                        p за комплект: 5 475 руб.
                                        p масса комплекта: 14,8 кг
                                    .catalog-item__price
                                        p за кг
                                        p.price 370 ₽