extends includes/_layout

block header
    include components/header-product/_header-product
    - var bgPath = "./img/bg_4.jpg";
    - var headerLinks = [{src: '#objects', title: 'Галерея'}, {src: '#materials', title: 'Инструкция'}, {src: '#delivery', title: 'Доставка'}, {src: '#letters', title: 'Отзывы'}];
    - var showBtn = true;
    +productHeader(bgPath, headerLinks, showBtn)

block content
    main#main-content
        .product
            .container
                .product-inline.for-roll
                    .product-image
                        .product-image-block
                            img(src="./img/product-item-4.png" alt="")
                    .product-desc
                        ul.breadcrumbs-line.row
                            li: a(href="#") Главная
                            li.separator: a(href="#") >
                            li: a(href="#") Каталог
                            li.separator: a(href="#") >
                            li: a(href="#") Наливные полы
                            li.separator: a(href="#") >
                            li: a(href="#") Teping Пол 205 C
                        h1.product-title
                            i.icon-title
                            | Roll
                        p Бесшовное покрытие для детских и спортивных площадок. #[br]Для травмобезопасных игр и занятий спортом!
                        ul.product-desc__list
                            li
                                i.icon-quote
                                | Травмобезопасное покрытие
                            li
                                i.icon-quote
                                | Высокая стойкость к ударам и износу
                            li
                                i.icon-quote
                                | Экологически чистое покрытие
                        p.product-price
                            small от
                            span &nbsp;655
                                i.icon-rub
                            | за м#[sup 2]
                        .product-desc-btns
                            a(href="#calculator").btn.btn-black-transparent Рассчитать стоимость
                            a(data-src="#modal-order" href="javascript:;" data-fancybox).btn.btn-red Заказать
                    .product-apply
                        p.apply-title: b Применяется на объектах
                        .apply-inline.row
                            .apply-column.col-md-6.col-xs-12
                                .apply-item
                                    i.icon-gym
                                    p Спортзалы
                                .apply-item
                                    i.icon-playground
                                    p Детские игровые комнаты
                                .apply-item
                                    i.icon-rest-zone
                                    p Зоны отдыха
                                .apply-item
                                    i.icon-skates
                                    p Ледовые катки
        include components/modifications/_modifications
        - var mods = [{row: [{src: './img/modifications/1.png', title: 'Teping Roll EPDM 15%', description: 'Покрытие на основе резиновой крошки и цветных EPDM гранул (не менее 15%). Имеет привлекательный дизайн, широкий диапазон цветовых решений, обладает превосходными противоскользящими свойствами.', colors: ['yellow', 'blue', 'green', 'white', 'red'], weight: '4 мм - 10 мм', price: '875' }, { src: './img/modifications/1.png', title: 'Teping Roll <b> + Цвет</b>', description: 'Цветное покрытие на основе резиновой крошки фракцией от 1,5 до 5 мм и цветного полиуретанового связующего. Обладает высокой износостойкостью, водопроницаемостью.', colors: ['red', 'dark-green'], weight: '6 мм - 24 мм', price: '<b> от</b>1 512' } ] }, { row: [ { src: './img/modifications/1.png', title: 'Teping Roll S', description: 'Плотное покрытие чёрного цвета на основе резиновой крошки (фракция 0,6 - 2,5 мм). Имеет гладкую поверхность, обладает высокой эластичностью и износостойкостью, влагостоек.', colors: ['black'], weight: '2 мм - 24 мм', price: '905' }, { src: './img/modifications/1.png', title: 'Teping Roll S <b> + Цвет</b>', description: 'Цветное покрытие на основе резиновой крошки (фракция 0,6 - 2,5 мм) и цветного полиуретанового связующего. Имеет гладкую поверхность, высокую и износостойкостью. ', colors: ['red', 'dark-green'], weight: '8 мм - 44 мм', price: '<b> от</b>1 550' } ] }, { row: [ { src: './img/modifications/1.png', title: 'Teping Roll EPDM 15%', description: 'Покрытие на основе резиновой крошки и цветных EPDM гранул (не менее 15%). Имеет привлекательный дизайн, широкий диапазон цветовых решений, обладает превосходными противоскользящими свойствами.', colors: ['yellow', 'blue', 'green', 'white', 'red'], weight: '4 мм - 10 мм', price: '875' }, { src: './img/modifications/1.png', title: 'Teping Roll EPDM <b> 100%</b>', description: 'Покрытие на основе цветной EPDM-крошки. Экологически чистое, не содержит вредных для здоровья компонентов, гипоаллергенно. Отличается особой прочностью, УФ-стойкостью на протяжении всего срока эксплуатации.', colors: ['yellow', 'white', 'light-blue', 'green', 'red', 'purple'], weight: '3 мм - 10 мм', price: '1 700' } ] }, { row: [ { src: './img/modifications/1.png', title: 'Teping Roll Tile', description: 'Двухслойное покрытие с высокой износостойкостью, водопроницаемостью. Выпускается как в рулонах, так и в плитках. Верхний слой (8 мм) из окрашенной резиновой крошки, нижний - из черной резиновой крошки.', colors: ['black'], weight: '16 мм - 20 мм', price: '1 919' }, { src: './img/modifications/1.png', title: 'Teping Roll Base', description: 'Цветное покрытие на основе резиновой крошки (фракция 0,6 - 2,5 мм) и цветного полиуретанового связующего. Имеет гладкую поверхность, высокую и износостойкостью. ', colors: ['red', 'dark-green'], weight: '8 мм - 40 мм', price: '<b> от</b>1 550' } ] } ];
        - var header = 'Модификации Teping Roll';
        +modifications(mods, 'end', header, true)
        #objects.objects
            h2.text-center Объекты с Teping Пол 205 C
            include includes/_objects-slider
        #materials.materials.block
            .container
                .materials-inline.row
                    .steps-block
                        h2 Этапы укладки
                        .steps-item
                            p.step-count 1
                            .step-desc
                                p: b Подготовка поверхности
                                p Бетонное основание необходимо отшлифовать с целью удаления цементного молочка, после чего тщательно обеспылить с помощью промышленного пылесоса. Это необходимо для обеспечения надёжной адгезии материала к поверхности.
                        .steps-item
                            p.step-count 2
                            .step-desc
                                p: b Грунтование
                                p Грунтовочная смесь наносится с помощью велюрового валика, а в труднодоступных местах – с помощью кисти.
                        .steps-item
                            p.step-count 4
                            .step-desc
                                p: b Нанесение финишного слоя
                                p Толщина от 1 до 3 мм. Придает декоративный вид полу и нужную фактуру.
                        .steps-btns
                            a(href="./insruction.pdf" target="_blank").btn.btn-red-transparent
                                i.icon-pdf
                                | Скачать инструкцию
                            a(href="https://www.youtube.com/embed/irRKhNBX5qs" data-fancybox).btn.btn-black-transparent
                                i.icon-play
                                | Смотреть видео инструкцию
                        .step-change
                            p: b Какую толщину выбрать?
                            .change-thicknees-item
                                i.icon-gym
                                p.count 4 – 8
                                    small мм
                                p Спортивные залы
                            .change-thicknees-item
                                i.icon-gym
                                p.count 8 – 16
                                    small мм
                                p Детские игровые зоны
                            .change-thicknees-item
                                i.icon-gym
                                p.count 10 – 14
                                    small мм
                                p Зоны для хождения на коньках #[br]на ледовых катках
                        p: b Справлюсь ли я?
                        p Мы сделали всё для удобства работы. Материал специально поставляется в комплектах. В большое ведро выливаем содержимое малого. Ошибиться с пропорциями сложно.
                        p В ведре мы оставили место для добавления кварцевого песка. Дополнительная тара не понадобится.&nbsp;
                            a(href='#') Поэтапная инструкция&nbsp;
                            | поможет.
                    .material-block
                        h2 Вам понадобится
                        p: b Материалы
                        .material-item
                            i.icon-banks
                                span.path1
                                span.path2
                                span.path3
                                span.path4
                                span.path5
                                span.path6
                                span.path7
                                span.path8
                                span.path9
                            p Наливной пол Teping Пол 205 С
                        .material-item
                            i.icon-banks
                                span.path1
                                span.path2
                                span.path3
                                span.path4
                                span.path5
                                span.path6
                                span.path7
                                span.path8
                                span.path9
                            p Грунтовка&nbsp;
                                a(href="#") Тэпинг Р 1155 Грунт
                        p: b Инструменты
                        .tools-block.row
                            .tools-item.col-sm-6.col-xs-12
                                a(href="javascript:;")
                                    i.icon-roller
                                    span Велюровый валик
                                    .tools-item-about
                                        .tools-item-about-desc
                                            img(src="./img/tools/3.png" alt="#")
                                            p Какой аэрационный игольчатый валик лучше использовать при заливке полимерных.
                                            p Какой аэрационный игольчатый валик лучше использовать при заливке полимерных наливных полов: правила выбора размера шипов.
                            .tools-item.col-sm-6.col-xs-12
                                a(href="javascript:;")
                                    img(src="./img/foot.svg" width='47')
                                    span Мокро/краскоступы
                                    .tools-item-about
                                        .tools-item-about-desc
                                            img(src="./img/tools/4.jpg" alt="#")
                                            p Какой аэрационный игольчатый валик лучше использовать при заливке полимерных.
                                            p Какой аэрационный игольчатый валик лучше использовать при заливке полимерных наливных полов: правила выбора размера шипов.
                            .tools-item.col-sm-6.col-xs-12
                                a(href="javascript:;")
                                    i.icon-trowel
                                    span Плоский шпатель
                                    .tools-item-about
                                        .tools-item-about-desc
                                            img(src="./img/tools/5.jpg" alt="#")
                                            p Какой аэрационный игольчатый валик лучше использовать при заливке полимерных.
                                            p Какой аэрационный игольчатый валик лучше использовать при заливке полимерных наливных полов: правила выбора размера шипов.
                            .tools-item.col-sm-6.col-xs-12
                                a(href="javascript:;")
                                    i.icon-hand
                                    span Ваши замечатальные руки
                                    .tools-item-about
                                        .tools-item-about-desc
                                            img(src="./img/video.png" alt="#")
                                            p Какой аэрационный игольчатый валик лучше использовать при заливке полимерных.
                                            p Какой аэрационный игольчатый валик лучше использовать при заливке полимерных наливных полов: правила выбора размера шипов.
                        .video-info
                            .video-block: a(href="https://www.youtube.com/embed/irRKhNBX5qs" data-fancybox)
                                i.icon-play
                                img(src="./img/video.png" alt="#")
                            .video-desc
                                p: b Мы собрали всю информацию о&nbsp;деталях укладки пола
                                p  Как сделать результат отличным? Какие есть нюансы? Какой инструмент использовать и зачем?
                                a(href="#").btn.btn-black-transparent Читать >
        #delivery.delivery.block
            .container
                .delivery-inline.row
                    .delivery-desc
                        h2 Доставляем по России, Казахстану и Белоруссии
                        p.delivery-title: b Сроки и стоимость доставки
                        p.dotted
                            span Отдаленные регионы
                            span от 15 дней
                        p.dotted
                            span Европейская часть России
                            span 5 – 7 дней
                        p.dotted
                            span Москва
                            span 2 дня
                        p.dotted
                            span Санкт-Петербург
                            span На следующий день, после оплаты
                        p(style='margin-top: 30px;') Бесплатная доставка до терминала ТК «Деловые линии» в Санкт-Петербурге.
                        p Адресная доставка по Санкт-Петербургу 2 000 руб.
                        a(data-src="#modal-delivery" href="javascript:;" data-fancybox).btn.btn-red-transparent Узнать стоимость и сроки доставки в мой город
                        p.delivery-title: b Габариты и упаковка
                        p.lg-text На паллет помещается 24 комплекта Teping Пол 205 C.
                            br
                            | В 1 куб.м. – 24 комплекта Тэпинг Пол 205 С, общей массой  - 414,40 кг. В зависимости от количества комплектов груз может быть поставлен на паллеты или ехать отдельно с обрешёткой.
                        .delivery-line.row.between-xs
                            .delivery-item
                                p Один комплект Teping Пол 205 С содержит в себе
                                .delivery-image
                                    p
                                        i.icon-bank
                                        | Основа
                                        span 11,8 кг
                                    p.plus +
                                    p
                                        i.icon-bank.small
                                        | Отвердитель
                                        span(style="margin-left: -20px") 3 кг
                            .delivery-item
                                p На один паллет 1х1 м, помещается 24 комплекта Teping Пол 205 С
                                .delivery-image
                                    p
                                        b х 24
                                        | Комплекта
                                        span 414.40 кг
                    .delivery-map
                        .image-item
                            img(src='./img/car.jpg' alt="#")
                        .image-item
                            img(src='./img/delivery-map.png' alt="#")
        include includes/_letters
        include includes/_callback