extends includes/_layout

block header
    include components/header-product/_header-product
    - var bgPath = "./img/bg_6.jpg";
    - var headerLinks = [{src: '#objects', title: 'Галерея'}, {src: '#materials', title: 'Инструкция'}, {src: '#delivery', title: 'Доставка'}, {src: '#letters', title: 'Отзывы'}];
    - var showBtn = true;
    +productHeader(bgPath, headerLinks, showBtn)

block content
    main#main-content
        .product
            .container
                .product-inline.for-roll
                    .product-image
                        .product-image-block
                            img(src="./img/product-item-6.png" alt="#")
                    .product-desc
                        ul.breadcrumbs-line.row
                            li: a(href="#") Главная
                            li.separator: a(href="#") >
                            li: a(href="#") Каталог
                            li.separator: a(href="#") >
                            li: a(href="#") Наливные полы
                            li.separator: a(href="#") >
                            li: a(href="#") Teping Пол 205 C
                        h1.product-title
                            i.icon-title
                            | Sport
                        p Бесшовное покрытие для детских и спортивных площадок. #[br]Для травмобезопасных игр и занятий спортом!
                        ul.product-desc__list
                            li
                                i.icon-quote
                                | Травмобезопасное покрытие
                            li
                                i.icon-quote
                                | Высокая стойкость к ударам и износу
                            li
                                i.icon-quote
                                | Экологически чистое покрытие
                        p.product-price
                            small от
                            span &nbsp;655
                                i.icon-rub
                            | за м#[sup 2]
                        .product-desc-btns
                            a(href="#calculator").btn.btn-black-transparent Рассчитать стоимость
                            a(data-src="#modal-order" href="javascript:;" data-fancybox).btn.btn-red Заказать
                    .product-apply
                        p.apply-title: b Применяется на объектах
                        .apply-inline.row
                            .apply-column.col-md-6.col-xs-12
                                .apply-item
                                    i.icon-playground
                                    p Садовые дорожки
                                .apply-item
                                    i.icon-sportground
                                    p Зоны вокруг бассейнов
                                .apply-item
                                    i.icon-golf
                                    p Отмостки домов
                                .apply-item
                                    i.icon-sidewalk
                                    p Спортивные залы
        include components/modifications/_modifications
        - var mods = [{row: [{ src: './img/modifications/module/1.png', title: 'Teping Modul 30 мм', description: 'Используется в качестве покрытия для коридоров, веранд, саун и бань, ванных комнат и балконов, либо для быстрого обустройства открытых площадок и дорожек.', colors: ['red', 'dark-green'], price: '1 512', settings: [{name: 'Толщина', value: '40 мм'}, {name: 'Размер', value: '500х500 мм'}, { name: 'Вес плиты', value: '5,30 кг' }] }, { src: './img/modifications/module/2.png', title: 'Teping Modul 30 мм', description: 'Используется в качестве покрытия для коридоров, веранд, саун и бань, ванных комнат и балконов, либо для быстрого обустройства открытых площадок и дорожек.', colors: ['red', 'dark-green'], price: '1 512', settings: [{name: 'Толщина', value: '40 мм'}, {name: 'Размер', value: '500х500 мм'}, { name: 'Вес плиты', value: '5,30 кг' }] }] }, { row: [{ src: './img/modifications/module/1.png', title: 'Teping Modul 30 мм', description: 'Используется в качестве покрытия для коридоров, веранд, саун и бань, ванных комнат и балконов, либо для быстрого обустройства открытых площадок и дорожек.', colors: ['red', 'dark-green'], price: '1 512', settings: [{name: 'Толщина', value: '40 мм'}, {name: 'Размер', value: '500х500 мм'}, { name: 'Вес плиты', value: '5,30 кг' }] }, { src: './img/modifications/module/2.png', title: 'Teping Modul 30 мм', description: 'Используется в качестве покрытия для коридоров, веранд, саун и бань, ванных комнат и балконов, либо для быстрого обустройства открытых площадок и дорожек.', colors: ['red', 'dark-green'], price: '1 512', settings: [{name: 'Толщина', value: '40 мм'}, {name: 'Размер', value: '500х500 мм'}, { name: 'Вес плиты', value: '5,30 кг' }] }] }, { row: [{ src: './img/modifications/module/1.png', title: 'Teping Modul 30 мм', description: 'Используется в качестве покрытия для коридоров, веранд, саун и бань, ванных комнат и балконов, либо для быстрого обустройства открытых площадок и дорожек.', colors: ['red', 'dark-green'], price: '1 512', settings: [{name: 'Толщина', value: '40 мм'}, {name: 'Размер', value: '500х500 мм'}, { name: 'Вес плиты', value: '5,30 кг' }] }, { src: './img/modifications/module/2.png', title: 'Teping Modul 30 мм', description: 'Используется в качестве покрытия для коридоров, веранд, саун и бань, ванных комнат и балконов, либо для быстрого обустройства открытых площадок и дорожек.', colors: ['red', 'dark-green'], price: '1 512', settings: [{name: 'Толщина', value: '40 мм'}, {name: 'Размер', value: '500х500 мм'}, { name: 'Вес плиты', value: '5,30 кг' }] }] }];
        - var header = 'Модификации Teping Roll';
        +modifications(mods, 'end', header, true)
        #objects.objects
            h2.text-center Объекты с Teping Пол 205 C
            include includes/_objects-slider
        #delivery.delivery.block
            .container
                .delivery-inline.row
                    .delivery-desc
                        h2 Доставляем по России, Казахстану и Белоруссии
                        p.delivery-title: b Сроки и стоимость доставки
                        p.dotted
                            span Отдаленные регионы
                            span от 15 дней
                        p.dotted
                            span Европейская часть России
                            span 5 – 7 дней
                        p.dotted
                            span Москва
                            span 2 дня
                        p.dotted
                            span Санкт-Петербург
                            span На следующий день, после оплаты
                        p(style='margin-top: 30px;') Бесплатная доставка до терминала ТК «Деловые линии» в Санкт-Петербурге.
                        p Адресная доставка по Санкт-Петербургу 2 000 руб.
                        a(data-src="#modal-delivery" href="javascript:;" data-fancybox).btn.btn-red-transparent Узнать стоимость и сроки доставки в мой город
                        p.delivery-title: b Габариты и упаковка
                        p.lg-text На паллет помещается 24 комплекта Teping Пол 205 C.
                            br
                            | В 1 куб.м. – 24 комплекта Тэпинг Пол 205 С, общей массой  - 414,40 кг. В зависимости от количества комплектов груз может быть поставлен на паллеты или ехать отдельно с обрешёткой.
                        .delivery-line.row.between-xs
                            .delivery-item
                                p Один комплект Teping Пол 205 С содержит в себе
                                .delivery-image
                                    p
                                        i.icon-bank
                                        | Основа
                                        span 11,8 кг
                                    p.plus +
                                    p
                                        i.icon-bank.small
                                        | Отвердитель
                                        span(style="margin-left: -20px") 3 кг
                            .delivery-item
                                p На один паллет 1х1 м, помещается 24 комплекта Teping Пол 205 С
                                .delivery-image
                                    p
                                        b х 24
                                        | Комплекта
                                        span 414.40 кг
                    .delivery-map
                        .image-item
                            img(src='./img/car.jpg' alt="#")
                        .image-item
                            img(src='./img/delivery-map.png' alt="#")
        include includes/_letters
        include includes/_callback