extends includes/_layout

block content
    main
        .catalog
            .container
                .catalog-inline
                    aside.sidebar
                        ul.breadcrumbs-line.row
                            li: a(href="#") Главная
                            li.separator: a(href="#") >
                            li: a(href="#") Готовые решения
                        form.filter
                            p.sidebar__title: strong Фильтр
                            .filter-group.filter-group_scroll
                                p.filter-group__title Тип объекта
                                label.filter-group__label
                                    input(type="checkbox").filter-group__checkbox
                                    span.filter-group__new-checkbox
                                    span.filter-group__caption Складское помещение
                                label.filter-group__label
                                    input(type="checkbox").filter-group__checkbox
                                    span.filter-group__new-checkbox
                                    span.filter-group__caption Паркинг, гараж
                                label.filter-group__label
                                    input(type="checkbox").filter-group__checkbox
                                    span.filter-group__new-checkbox
                                    span.filter-group__caption Производство
                                label.filter-group__label
                                    input(type="checkbox").filter-group__checkbox
                                    span.filter-group__new-checkbox
                                    span.filter-group__caption Торговый центр
                                label.filter-group__label
                                    input(type="checkbox").filter-group__checkbox
                                    span.filter-group__new-checkbox
                                    span.filter-group__caption Общественное здание
                                label.filter-group__label
                                    input(type="checkbox").filter-group__checkbox
                                    span.filter-group__new-checkbox
                                    span.filter-group__caption Здравоохранение
                            .filter-group
                                p.filter-group__title!='Цена за м<sup>2</sup>'
                                label.filter-group__label
                                    input(type="checkbox").filter-group__checkbox
                                    span.filter-group__new-checkbox
                                    span.filter-group__caption от 99 до 275 руб.
                                label.filter-group__label
                                    input(type="checkbox").filter-group__checkbox
                                    span.filter-group__new-checkbox
                                    span.filter-group__caption от 275 до 570 руб.
                                label.filter-group__label
                                    input(type="checkbox").filter-group__checkbox
                                    span.filter-group__new-checkbox
                                    span.filter-group__caption от 570 до 1000 руб.
                                label.filter-group__label
                                    input(type="checkbox").filter-group__checkbox
                                    span.filter-group__new-checkbox
                                    span.filter-group__caption от 1000 руб.
                            .filter-group
                                p.filter-group__title Интенсивность нагрузок
                                label.filter-group__label
                                    input(type="checkbox").filter-group__checkbox
                                    span.filter-group__new-checkbox
                                    span.filter-group__caption Легкие
                                label.filter-group__label
                                    input(type="checkbox").filter-group__checkbox
                                    span.filter-group__new-checkbox
                                    span.filter-group__caption Тяжелые
                            .filter-group
                                p.filter-group__title Эксплуатация
                                label.filter-group__label
                                    input(type="checkbox").filter-group__checkbox
                                    span.filter-group__new-checkbox
                                    span.filter-group__caption Химическое воздействие
                                label.filter-group__label
                                    input(type="checkbox").filter-group__checkbox
                                    span.filter-group__new-checkbox
                                    span.filter-group__caption Отрицательная температура
                                label.filter-group__label
                                    input(type="checkbox").filter-group__checkbox
                                    span.filter-group__new-checkbox
                                    span.filter-group__caption Ультрафиолетовое излучение
                                label.filter-group__label
                                    input(type="checkbox").filter-group__checkbox
                                    span.filter-group__new-checkbox
                                    span.filter-group__caption Ударные нагрузки
                                label.filter-group__label
                                    input(type="checkbox").filter-group__checkbox
                                    span.filter-group__new-checkbox
                                    span.filter-group__caption Влажный бетон
                            .filter-group
                                p.filter-group__title Основа
                                label.filter-group__label
                                    input(type="checkbox").filter-group__checkbox
                                    span.filter-group__new-checkbox
                                    span.filter-group__caption Полиуретановая
                                label.filter-group__label
                                    input(type="checkbox").filter-group__checkbox
                                    span.filter-group__new-checkbox
                                    span.filter-group__caption Эпоксидная
                    section.content.block
                        h2.catalog-title Готовые решения для склада
                        p Идеально обеспылит, защитит основание от разрушения. Покрытие стойкое к нефтехимии, истиранию, сильным ударам. Практичное в очищении. Идеально обеспылит, защитит основание от разрушения. Покрытие стойкое к нефтехимии истиранию, сильным ударам. Практичное в очищении.
                        .sorting

                        .solution-items
                            .solution-item
