.callback
    .container
        .callback-block
            img(src="./img/callback.png" alt="#")
            h2.text-center Не нашли, что искали?
            a(data-fancybox data-src="#modal-question" href="").btn.btn-green Задать вопрос