.footer-top
    .container
        .footer-inline.row.light
            .footer-item
                .footer-logo
                    a(href="#header")
                        img(src="./img/logo.svg" width='190' height='60')
                        i.icon-title
                .footer-contacts
                    p Бесплатно по России
                    p: a(href="#").phone 8 (800) 555-1927
                    p Москва
                        span +7 (495) 666 56 22
                    p Санкт-Петербург
                        span +7 (812) 643 42 47
                    p: a(href="#").mail order@tnpgroup.ru
                    .social-line.row
                        a(href="#").social-item: i.icon-vk
                        a(href="#").social-item: i.icon-im
                        a(href="#").social-item: i.icon-fb
                        a(href="#").social-item: i.icon-yb
            .footer-item
                ul
                    li.item-lg: a(href="#") Каталог
                    li: a(href="#") Наливные полы
                    li: a(href="#") Краски для полов
                    li: a(href="#") Покрытия для спортивных площадок
                    li: a(href="#") Покрытия для спортзалов
                    li: a(href="#") Покрытия для детских площадок
                    li: a(href="#") Лак
                    li: a(href="#") Грунт
                    li: a(href="#") Люминофор
                    li: a(href="#") Teping НГ КМ 0
                    li: a(href="#") Hempel
            .footer-item
                ul
                    li.item-lg: a(href="#") Системы покрытий
                    li.item-lg: a(href="#") Цены
                    li.item-lg: a(href="#") О компании
                    li.item-lg: a(href="#") контакты
                    li.item-lg: a(href="#") политика конфиденциальности
                    li.item-lg: a(href="#") оплата и доставка
                    li.item-lg: a(href="#") проекты
            .footer-item
                p.partners-text Ключевые клиенты:
                .footer-partners.row
                    .partners__item.col-md-4
                        img(src="./img/partners/1.png")
                    .partners__item.col-md-4
                        img(src="./img/partners/2.png")
                    .partners__item.col-md-4
                        img(src="./img/partners/3.png")
                    .partners__item.col-md-4
                        img(src="./img/partners/4.png")
                    .partners__item.col-md-4
                        img(src="./img/partners/5.png")
                    .partners__item.col-md-4
                        img(src="./img/partners/6.png")
                    .partners__item.col-md-6
                        img(src="./img/partners/7.png")
                    .partners__item.col-md-6
                        img(src="./img/partners/8.png")
.footer-bottom
    .container
        p © Все права на использование материалов и изображений принадлежат ООО "ТНП" и защищены законом.