.header-top
    .container
        .header-inline.row
            .header-item
                .logo
                    a(href="#header"): img(src="./img/logo.svg" width='210' height='60')
                nav: ul.main-menu
                    li.drop-menu-item
                        a(href="#") Каталог
                            i.icon-arrow
                        ul.drop-menu
                            li.link-item
                                a(href="#")
                                    i.icon-menu-item-4
                                    | Покрытия по типу объекта
                                ul.drop-menu-lvl-2.link-menu
                                    li.col-sm-6.col-xs-12: a(href="#")
                                        i.icon-production
                                        | Производства
                                    li.col-sm-6.col-xs-12: a(href="#")
                                        i.icon-book
                                        | Школы, ВУЗы,  детские сады
                                    li.col-sm-6.col-xs-12: a(href="#")
                                        i.icon-parking
                                        | Паркинги, гаражи
                                    li.col-sm-6.col-xs-12: a(href="#")
                                        i.icon-trade
                                        | Торговые комплексы
                                    li.col-sm-6.col-xs-12: a(href="#")
                                        i.icon-stock
                                        | Склады
                                    li.col-sm-6.col-xs-12: a(href="#")
                                        i.icon-medical
                                        | Здравоохранение, фармацевтика
                                    li.col-sm-6.col-xs-12: a(href="#")
                                        i.icon-office
                                        | Квартиры и офисы
                                    li.col-sm-6.col-xs-12: a(href="#")
                                        i.icon-lightning
                                        | Объекты атомной энергетики, ТЭЦ
                                    li.col-sm-6.col-xs-12: a(href="#")
                                        i.icon-metro
                                        | Аэропорты, вокзалы, метро
                                    li.col-sm-6.col-xs-12: a(href="#")
                                        i.icon-medical
                                        | Здравоохранение, фармацевтика
                                    li.col-sm-6.col-xs-12: a(href="#")
                                        i.icon-metro
                                        | Аэропорты, вокзалы, метро
                                    li.col-sm-6.col-xs-12: a(href="#")
                                        i.icon-lightning
                                        | Объекты атомной энергетики, ТЭЦ
                            li.inner-item
                                a(href="#") Наливные полы
                                ul.drop-menu-lvl-2.inner-menu.open
                                    li.inner-title Эпоксидные
                                    li
                                        a(href="#")
                                            i.icon-menu-item-7
                                            | Teping Пол 205 C Универсальный
                                        .menu-catalog-item.open
                                            .menu-catalog-item-image
                                                img(src="./img/product-item.png" alt="Негорючая краска класса КМ0")
                                            p.menu-catalog-item-title
                                                i.icon-title
                                                | Пол 205 C
                                                small Универсальный эпоксидный наливной пол
                                            ul.menu-catalog-item-desc
                                                li
                                                    i.icon-quote
                                                    | Обеспыливает
                                                li
                                                    i.icon-quote
                                                    | Защитает  пол
                                                li
                                                    i.icon-quote
                                                    | Декоративный
                                            a(data-src="#modal-order" href="javascript:;" data-fancybox).btn.btn-red Перейти к товару
                                                i.icon-arrow
                                    li
                                        a(href="#")
                                            i.icon-menu-item-1
                                            | Teping Пол 205 К Кислото и щелочестойкий
                                        .menu-catalog-item
                                            .menu-catalog-item-image
                                                img(src="./img/product-item.png" alt="Негорючая краска класса КМ0")
                                            p.menu-catalog-item-title
                                                i.icon-title
                                                | Пол 205 К
                                                small Кислото и щелочестойкий наливной пол
                                            ul.menu-catalog-item-desc
                                                li
                                                    i.icon-quote
                                                    | Обеспыливает
                                                li
                                                    i.icon-quote
                                                    | Защитает  пол
                                                li
                                                    i.icon-quote
                                                    | Декоративный
                                            a(data-src="#modal-order" href="javascript:;" data-fancybox).btn.btn-red Перейти к товару
                                                i.icon-arrow
                                    li
                                        a(href="#")
                                            i.icon-menu-item-8
                                            | Teping Пол 205 Паро Паропроницаемый
                                        .menu-catalog-item
                                            .menu-catalog-item-image
                                                img(src="./img/product-item.png" alt="Негорючая краска класса КМ0")
                                            p.menu-catalog-item-title
                                                i.icon-title
                                                | Пол 205 Паро
                                                small Паропроницаемый наливной пол
                                            ul.menu-catalog-item-desc
                                                li
                                                    i.icon-quote
                                                    | Обеспыливает
                                                li
                                                    i.icon-quote
                                                    | Защитает  пол
                                                li
                                                    i.icon-quote
                                                    | Декоративный
                                            a(data-src="#modal-order" href="javascript:;" data-fancybox).btn.btn-red Перейти к товару
                                                i.icon-arrow
                                    li
                                        a(href="#")
                                            i.icon-menu-item-5
                                            | Teping Пол 205 С Пром Промышленный
                                        .menu-catalog-item
                                            .menu-catalog-item-image
                                                img(src="./img/product-item.png" alt="Негорючая краска класса КМ0")
                                            p.menu-catalog-item-title
                                                i.icon-title
                                                | Пол 205 С Пром
                                                small Промышленный наливной пол
                                            ul.menu-catalog-item-desc
                                                li
                                                    i.icon-quote
                                                    | Обеспыливает
                                                li
                                                    i.icon-quote
                                                    | Защитает  пол
                                                li
                                                    i.icon-quote
                                                    | Декоративный
                                            a(data-src="#modal-order" href="javascript:;" data-fancybox).btn.btn-red Перейти к товару
                                                i.icon-arrow
                                    li
                                        a(href="#")
                                            i.icon-menu-item-3
                                            | Teping Пол 205 АС Антистатический
                                        .menu-catalog-item
                                            .menu-catalog-item-image
                                                img(src="./img/product-item.png" alt="Негорючая краска класса КМ0")
                                            p.menu-catalog-item-title
                                                i.icon-title
                                                | Пол 205 АС
                                                small Антистатический наливной пол
                                            ul.menu-catalog-item-desc
                                                li
                                                    i.icon-quote
                                                    | Обеспыливает
                                                li
                                                    i.icon-quote
                                                    | Защитает  пол
                                                li
                                                    i.icon-quote
                                                    | Декоративный
                                            a(data-src="#modal-order" href="javascript:;" data-fancybox).btn.btn-red Перейти к товару
                                                i.icon-arrow
                                    li
                                        a(href="#")
                                            i.icon-menu-item-9
                                            | Teping Пол 205 Прозрачный Прозрачный
                                        .menu-catalog-item
                                            .menu-catalog-item-image
                                                img(src="./img/product-item.png" alt="Негорючая краска класса КМ0")
                                            p.menu-catalog-item-title
                                                i.icon-title
                                                | Пол 205 Прозрачный
                                                small Прозрачный наливной пол
                                            ul.menu-catalog-item-desc
                                                li
                                                    i.icon-quote
                                                    | Обеспыливает
                                                li
                                                    i.icon-quote
                                                    | Защитает  пол
                                                li
                                                    i.icon-quote
                                                    | Декоративный
                                            a(data-src="#modal-order" href="javascript:;" data-fancybox).btn.btn-red Перейти к товару
                                                i.icon-arrow
                                    li.inner-title.small Полиуретановые
                                    li
                                        a(href="#")
                                            i.icon-menu-item-6
                                            | Teping Пол 205 ПУ Полиуретановый
                                        .menu-catalog-item
                                            .menu-catalog-item-image
                                                img(src="./img/product-item.png" alt="Негорючая краска класса КМ0")
                                            p.menu-catalog-item-title
                                                i.icon-title
                                                | Пол 205 ПУ
                                                small Полиуретановый наливной пол
                                            ul.menu-catalog-item-desc
                                                li
                                                    i.icon-quote
                                                    | Обеспыливает
                                                li
                                                    i.icon-quote
                                                    | Защитает  пол
                                                li
                                                    i.icon-quote
                                                    | Декоративный
                                            a(data-src="#modal-order" href="javascript:;" data-fancybox).btn.btn-red Перейти к товару
                                                i.icon-arrow
                                    li
                                        a(href="#")
                                            i.icon-menu-item-2
                                            | Teping Пол 205 Эко Экологичный
                                        .menu-catalog-item
                                            .menu-catalog-item-image
                                                img(src="./img/product-item.png" alt="Негорючая краска класса КМ0")
                                            p.menu-catalog-item-title
                                                i.icon-title
                                                | Пол 205 Эко
                                                small Экологичный наливной пол
                                            ul.menu-catalog-item-desc
                                                li
                                                    i.icon-quote
                                                    | Обеспыливает
                                                li
                                                    i.icon-quote
                                                    | Защитает  пол
                                                li
                                                    i.icon-quote
                                                    | Декоративный
                                            a(data-src="#modal-order" href="javascript:;" data-fancybox).btn.btn-red Перейти к товару
                                                i.icon-arrow
                            li.inner-item
                                a(href="#") Краски для полов
                                ul.drop-menu-lvl-2.inner-menu.open
                                    li
                                        a(href="#")
                                            i.icon-menu-item-1
                                            | Teping Пол 205 К Кислото и щелочестойкий
                                        .menu-catalog-item
                                            .menu-catalog-item-image
                                                img(src="./img/product-item.png" alt="Негорючая краска класса КМ0")
                                            p.menu-catalog-item-title
                                                i.icon-title
                                                | Пол 205 К
                                                small Кислото и щелочестойкий наливной пол
                                            ul.menu-catalog-item-desc
                                                li
                                                    i.icon-quote
                                                    | Обеспыливает
                                                li
                                                    i.icon-quote
                                                    | Защитает  пол
                                                li
                                                    i.icon-quote
                                                    | Декоративный
                                            a(data-src="#modal-order" href="javascript:;" data-fancybox).btn.btn-red Перейти к товару
                                                i.icon-arrow
                                    li
                                        a(href="#")
                                            i.icon-menu-item-8
                                            | Teping Пол 205 Паро Паропроницаемый
                                        .menu-catalog-item
                                            .menu-catalog-item-image
                                                img(src="./img/product-item.png" alt="Негорючая краска класса КМ0")
                                            p.menu-catalog-item-title
                                                i.icon-title
                                                | Пол 205 Паро
                                                small Паропроницаемый наливной пол
                                            ul.menu-catalog-item-desc
                                                li
                                                    i.icon-quote
                                                    | Обеспыливает
                                                li
                                                    i.icon-quote
                                                    | Защитает  пол
                                                li
                                                    i.icon-quote
                                                    | Декоративный
                                            a(data-src="#modal-order" href="javascript:;" data-fancybox).btn.btn-red Перейти к товару
                                                i.icon-arrow
                                    li
                                        a(href="#")
                                            i.icon-menu-item-5
                                            | Teping Пол 205 С Пром Промышленный
                                        .menu-catalog-item
                                            .menu-catalog-item-image
                                                img(src="./img/product-item.png" alt="Негорючая краска класса КМ0")
                                            p.menu-catalog-item-title
                                                i.icon-title
                                                | Пол 205 С Пром
                                                small Промышленный наливной пол
                                            ul.menu-catalog-item-desc
                                                li
                                                    i.icon-quote
                                                    | Обеспыливает
                                                li
                                                    i.icon-quote
                                                    | Защитает  пол
                                                li
                                                    i.icon-quote
                                                    | Декоративный
                                            a(data-src="#modal-order" href="javascript:;" data-fancybox).btn.btn-red Перейти к товару
                                                i.icon-arrow
                            li.inner-item
                                a(href="#") Покрытия для спортивных площадок
                                ul.drop-menu-lvl-2.inner-menu.open
                                    li.inner-title Эпоксидные
                                    li
                                        a(href="#")
                                            i.icon-menu-item-7
                                            | Teping Пол 205 C Универсальный
                                        .menu-catalog-item.open
                                            .menu-catalog-item-image
                                                img(src="./img/product-item.png" alt="Негорючая краска класса КМ0")
                                            p.menu-catalog-item-title
                                                i.icon-title
                                                | Пол 205 C
                                                small Универсальный эпоксидный наливной пол
                                            ul.menu-catalog-item-desc
                                                li
                                                    i.icon-quote
                                                    | Обеспыливает
                                                li
                                                    i.icon-quote
                                                    | Защитает  пол
                                                li
                                                    i.icon-quote
                                                    | Декоративный
                                            a(data-src="#modal-order" href="javascript:;" data-fancybox).btn.btn-red Перейти к товару
                                                i.icon-arrow
                                    li
                                        a(href="#")
                                            i.icon-menu-item-1
                                            | Teping Пол 205 К Кислото и щелочестойкий
                                        .menu-catalog-item
                                            .menu-catalog-item-image
                                                img(src="./img/product-item.png" alt="Негорючая краска класса КМ0")
                                            p.menu-catalog-item-title
                                                i.icon-title
                                                | Пол 205 К
                                                small Кислото и щелочестойкий наливной пол
                                            ul.menu-catalog-item-desc
                                                li
                                                    i.icon-quote
                                                    | Обеспыливает
                                                li
                                                    i.icon-quote
                                                    | Защитает  пол
                                                li
                                                    i.icon-quote
                                                    | Декоративный
                                            a(data-src="#modal-order" href="javascript:;" data-fancybox).btn.btn-red Перейти к товару
                                                i.icon-arrow
                                    li
                                        a(href="#")
                                            i.icon-menu-item-8
                                            | Teping Пол 205 Паро Паропроницаемый
                                        .menu-catalog-item
                                            .menu-catalog-item-image
                                                img(src="./img/product-item.png" alt="Негорючая краска класса КМ0")
                                            p.menu-catalog-item-title
                                                i.icon-title
                                                | Пол 205 Паро
                                                small Паропроницаемый наливной пол
                                            ul.menu-catalog-item-desc
                                                li
                                                    i.icon-quote
                                                    | Обеспыливает
                                                li
                                                    i.icon-quote
                                                    | Защитает  пол
                                                li
                                                    i.icon-quote
                                                    | Декоративный
                                            a(data-src="#modal-order" href="javascript:;" data-fancybox).btn.btn-red Перейти к товару
                                                i.icon-arrow
                                    li
                                        a(href="#")
                                            i.icon-menu-item-5
                                            | Teping Пол 205 С Пром Промышленный
                                        .menu-catalog-item
                                            .menu-catalog-item-image
                                                img(src="./img/product-item.png" alt="Негорючая краска класса КМ0")
                                            p.menu-catalog-item-title
                                                i.icon-title
                                                | Пол 205 С Пром
                                                small Промышленный наливной пол
                                            ul.menu-catalog-item-desc
                                                li
                                                    i.icon-quote
                                                    | Обеспыливает
                                                li
                                                    i.icon-quote
                                                    | Защитает  пол
                                                li
                                                    i.icon-quote
                                                    | Декоративный
                                            a(data-src="#modal-order" href="javascript:;" data-fancybox).btn.btn-red Перейти к товару
                                                i.icon-arrow
                                    li
                                        a(href="#")
                                            i.icon-menu-item-3
                                            | Teping Пол 205 АС Антистатический
                                        .menu-catalog-item
                                            .menu-catalog-item-image
                                                img(src="./img/product-item.png" alt="Негорючая краска класса КМ0")
                                            p.menu-catalog-item-title
                                                i.icon-title
                                                | Пол 205 АС
                                                small Антистатический наливной пол
                                            ul.menu-catalog-item-desc
                                                li
                                                    i.icon-quote
                                                    | Обеспыливает
                                                li
                                                    i.icon-quote
                                                    | Защитает  пол
                                                li
                                                    i.icon-quote
                                                    | Декоративный
                                            a(data-src="#modal-order" href="javascript:;" data-fancybox).btn.btn-red Перейти к товару
                                                i.icon-arrow
                                    li
                                        a(href="#")
                                            i.icon-menu-item-9
                                            | Teping Пол 205 Прозрачный Прозрачный
                                        .menu-catalog-item
                                            .menu-catalog-item-image
                                                img(src="./img/product-item.png" alt="Негорючая краска класса КМ0")
                                            p.menu-catalog-item-title
                                                i.icon-title
                                                | Пол 205 Прозрачный
                                                small Прозрачный наливной пол
                                            ul.menu-catalog-item-desc
                                                li
                                                    i.icon-quote
                                                    | Обеспыливает
                                                li
                                                    i.icon-quote
                                                    | Защитает  пол
                                                li
                                                    i.icon-quote
                                                    | Декоративный
                                            a(data-src="#modal-order" href="javascript:;" data-fancybox).btn.btn-red Перейти к товару
                                                i.icon-arrow

                            li.inner-item
                                a(href="#") Покрытия для спортивных залов
                                ul.drop-menu-lvl-2.inner-menu.open

                                    li
                                        a(href="#")
                                            i.icon-menu-item-8
                                            | Teping Пол 205 Паро Паропроницаемый
                                        .menu-catalog-item
                                            .menu-catalog-item-image
                                                img(src="./img/product-item.png" alt="Негорючая краска класса КМ0")
                                            p.menu-catalog-item-title
                                                i.icon-title
                                                | Пол 205 Паро
                                                small Паропроницаемый наливной пол
                                            ul.menu-catalog-item-desc
                                                li
                                                    i.icon-quote
                                                    | Обеспыливает
                                                li
                                                    i.icon-quote
                                                    | Защитает  пол
                                                li
                                                    i.icon-quote
                                                    | Декоративный
                                            a(data-src="#modal-order" href="javascript:;" data-fancybox).btn.btn-red Перейти к товару
                                                i.icon-arrow
                                    li
                                        a(href="#")
                                            i.icon-menu-item-5
                                            | Teping Пол 205 С Пром Промышленный
                                        .menu-catalog-item
                                            .menu-catalog-item-image
                                                img(src="./img/product-item.png" alt="Негорючая краска класса КМ0")
                                            p.menu-catalog-item-title
                                                i.icon-title
                                                | Пол 205 С Пром
                                                small Промышленный наливной пол
                                            ul.menu-catalog-item-desc
                                                li
                                                    i.icon-quote
                                                    | Обеспыливает
                                                li
                                                    i.icon-quote
                                                    | Защитает  пол
                                                li
                                                    i.icon-quote
                                                    | Декоративный
                                            a(data-src="#modal-order" href="javascript:;" data-fancybox).btn.btn-red Перейти к товару
                                                i.icon-arrow
                                    li
                                        a(href="#")
                                            i.icon-menu-item-3
                                            | Teping Пол 205 АС Антистатический
                                        .menu-catalog-item
                                            .menu-catalog-item-image
                                                img(src="./img/product-item.png" alt="Негорючая краска класса КМ0")
                                            p.menu-catalog-item-title
                                                i.icon-title
                                                | Пол 205 АС
                                                small Антистатический наливной пол
                                            ul.menu-catalog-item-desc
                                                li
                                                    i.icon-quote
                                                    | Обеспыливает
                                                li
                                                    i.icon-quote
                                                    | Защитает  пол
                                                li
                                                    i.icon-quote
                                                    | Декоративный
                                            a(data-src="#modal-order" href="javascript:;" data-fancybox).btn.btn-red Перейти к товару
                                                i.icon-arrow

                                    li
                                        a(href="#")
                                            i.icon-menu-item-6
                                            | Teping Пол 205 ПУ Полиуретановый
                                        .menu-catalog-item
                                            .menu-catalog-item-image
                                                img(src="./img/product-item.png" alt="Негорючая краска класса КМ0")
                                            p.menu-catalog-item-title
                                                i.icon-title
                                                | Пол 205 ПУ
                                                small Полиуретановый наливной пол
                                            ul.menu-catalog-item-desc
                                                li
                                                    i.icon-quote
                                                    | Обеспыливает
                                                li
                                                    i.icon-quote
                                                    | Защитает  пол
                                                li
                                                    i.icon-quote
                                                    | Декоративный
                                            a(data-src="#modal-order" href="javascript:;" data-fancybox).btn.btn-red Перейти к товару
                                                i.icon-arrow
                                    li
                                        a(href="#")
                                            i.icon-menu-item-2
                                            | Teping Пол 205 Эко Экологичный
                                        .menu-catalog-item
                                            .menu-catalog-item-image
                                                img(src="./img/product-item.png" alt="Негорючая краска класса КМ0")
                                            p.menu-catalog-item-title
                                                i.icon-title
                                                | Пол 205 Эко
                                                small Экологичный наливной пол
                                            ul.menu-catalog-item-desc
                                                li
                                                    i.icon-quote
                                                    | Обеспыливает
                                                li
                                                    i.icon-quote
                                                    | Защитает  пол
                                                li
                                                    i.icon-quote
                                                    | Декоративный
                                            a(data-src="#modal-order" href="javascript:;" data-fancybox).btn.btn-red Перейти к товару
                                                i.icon-arrow

                            li.inner-item
                                a(href="#") Покрытия для детских площадок
                                ul.drop-menu-lvl-2.menu-catalog-item
                                    .menu-catalog-item-image
                                        img(src="./img/product-item.png" alt="Негорючая краска класса КМ0")
                                    p.menu-catalog-item-title
                                        i.icon-title
                                        | Пол 205 ПУ
                                        small Полиуретановый наливной пол
                                    ul.menu-catalog-item-desc
                                        li
                                            i.icon-quote
                                            | Обеспыливает
                                        li
                                            i.icon-quote
                                            | Защитает  пол
                                        li
                                            i.icon-quote
                                            | Декоративный
                                    a(data-src="#modal-order" href="javascript:;" data-fancybox).btn.btn-red Перейти к товару
                                        i.icon-arrow

                            li
                                a(href="#") Лак
                                .drop-menu-lvl-2.menu-catalog-item
                                    .menu-catalog-item-image
                                        img(src="./img/product-item.png" alt="Негорючая краска класса КМ0")
                                    p.menu-catalog-item-title
                                        i.icon-title
                                        | Лак УР
                                        small Негорючая краска класса КМ0
                                    ul.menu-catalog-item-desc
                                        li
                                            i.icon-quote
                                            | Обеспыливает
                                        li
                                            i.icon-quote
                                            | Защитает  пол
                                        li
                                            i.icon-quote
                                            | Декоративный
                                    a(data-src="#modal-order" href="javascript:;" data-fancybox).btn.btn-red Перейти к товару
                                        i.icon-arrow
                            li
                                a(href="#") Грунт
                                .drop-menu-lvl-2.menu-catalog-item
                                    .menu-catalog-item-image
                                        img(src="./img/product-item.png" alt="Негорючая краска класса КМ0")
                                    p.menu-catalog-item-title
                                        i.icon-title
                                        | Р1155 Грунт
                                        small Негорючая краска класса КМ0
                                    ul.menu-catalog-item-desc
                                        li
                                            i.icon-quote
                                            | Обеспыливает
                                        li
                                            i.icon-quote
                                            | Защитает  пол
                                        li
                                            i.icon-quote
                                            | Декоративный
                                    a(data-src="#modal-order" href="javascript:;" data-fancybox).btn.btn-red Перейти к товару
                                        i.icon-arrow
                            li
                                a(href="#") Люминофор
                                .drop-menu-lvl-2.menu-catalog-item
                                    .menu-catalog-item-image
                                        img(src="./img/product-item.png" alt="Негорючая краска класса КМ0")
                                    p.menu-catalog-item-title
                                        i.icon-title
                                        | Люминофор
                                        small Негорючая краска класса КМ0
                                    ul.menu-catalog-item-desc
                                        li
                                            i.icon-quote
                                            | Обеспыливает
                                        li
                                            i.icon-quote
                                            | Защитает  пол
                                        li
                                            i.icon-quote
                                            | Декоративный
                                    a(data-src="#modal-order" href="javascript:;" data-fancybox).btn.btn-red Перейти к товару
                                        i.icon-arrow
                            li
                                a(href="#") Teping НГ (КМ0)
                                .drop-menu-lvl-2.menu-catalog-item
                                    .menu-catalog-item-image
                                        img(src="./img/product-item.png" alt="Негорючая краска класса КМ0")
                                    p.menu-catalog-item-title
                                        i.icon-title
                                        | НГ КМ0
                                        small Негорючая краска класса КМ0
                                    ul.menu-catalog-item-desc
                                        li
                                            i.icon-quote
                                            | Обеспыливает
                                        li
                                            i.icon-quote
                                            | Защитает  пол
                                        li
                                            i.icon-quote
                                            | Декоративный
                                    a(data-src="#modal-order" href="javascript:;" data-fancybox).btn.btn-red Перейти к товару
                                        i.icon-arrow
                            li
                                a(href="#") Hempel
                                .drop-menu-lvl-2.menu-catalog-item
                                    .menu-catalog-item-image
                                        img(src="./img/product-item.png" alt="Негорючая краска класса КМ0")
                                    p.menu-catalog-item-title
                                        i.icon-title
                                        | Hempel
                                        small Негорючая краска класса КМ0
                                    ul.menu-catalog-item-desc
                                        li
                                            i.icon-quote
                                            | Обеспыливает
                                        li
                                            i.icon-quote
                                            | Защитает  пол
                                        li
                                            i.icon-quote
                                            | Декоративный
                                    a(data-src="#modal-order" href="javascript:;" data-fancybox).btn.btn-red Перейти к товару
                                        i.icon-arrow
                    li.drop-menu-item
                        a(href="#") Системы покрытий
                            i.icon-arrow
                        ul.link-menu
                            li.col-sm-6.col-xs-12: a(href="#")
                                i.icon-production
                                | Производства
                            li.col-sm-6.col-xs-12: a(href="#")
                                i.icon-book
                                | Школы, ВУЗы,  детские сады
                            li.col-sm-6.col-xs-12: a(href="#")
                                i.icon-parking
                                | Паркинги, гаражи
                            li.col-sm-6.col-xs-12: a(href="#")
                                i.icon-trade
                                | Торговые комплексы
                            li.col-sm-6.col-xs-12: a(href="#")
                                i.icon-stock
                                | Склады
                            li.col-sm-6.col-xs-12: a(href="#")
                                i.icon-medical
                                | Здравоохранение, фармацевтика
                            li.col-sm-6.col-xs-12: a(href="#")
                                i.icon-office
                                | Квартиры и офисы
                            li.col-sm-6.col-xs-12: a(href="#")
                                i.icon-lightning
                                | Объекты атомной энергетики, ТЭЦ
                            li.col-sm-6.col-xs-12: a(href="#")
                                i.icon-metro
                                | Аэропорты, вокзалы, метро
                            li.col-sm-6.col-xs-12: a(href="#")
                                i.icon-medical
                                | Здравоохранение, фармацевтика
                            li.col-sm-6.col-xs-12: a(href="#")
                                i.icon-metro
                                | Аэропорты, вокзалы, метро
                            li.col-sm-6.col-xs-12: a(href="#")
                                i.icon-lightning
                                | Объекты атомной энергетики, ТЭЦ
                    li: a(href="#") Цены
                    li: a(href="#") О компании
                    li: a(href="#") Контакты
            .header-item
                .contacts
                    p: a(href="tel:88005551927").phone 8 (800) 555 19 27
                    p: a(href="mailto:order@tnpgroup.ru").mail
                        i.icon-mail
                        | order@tnpgroup.ru
                a(data-src="#modal-callback" href="javascript:;" data-fancybox).btn.btn-white-transparent.btn-small Заказать звонок
