.header-middle
    .container

.header-bottom
    .container
        .header-inline.row
            .header-item
                p.header-product-title
                    i.icon-title
                    | Пол 205 C
                nav: ul.second-menu
                    li: a(href="#characteristics") Характеристики
                    li: a(href="#objects") Галерея
                    li: a(href="#materials") Инструкция
                    li: a(href="#production") Производство
                    li: a(href="#delivery") Доставка
                    li: a(href="#letters") Отзывы
                    li: a(href="#calculator")
                        i.icon-calculator
                        | Рассчитать стоимость
            .header-item
                a(data-src="#modal-order" href="javascript:;" data-fancybox).btn.btn-red.btn-small Заказать