#letters.letters.block
    h2.text-center Благодарственные письма TNP Group
    .letters-slider
        .slide
            a(href="./img/letters/1.pdf" target="_blank").letters-image
                img(src="./img/letters/1.jpg" alt="#")
                span Открыть оригинал
                    i.icon-zoom
        .slide
            a(href="./img/letters/2.pdf" target="_blank").letters-image
                img(src="./img/letters/2.jpg" alt="#")
                span Открыть оригинал
                    i.icon-zoom
        .slide
            a(href="./img/letters/3.pdf" target="_blank").letters-image
                img(src="./img/letters/3.jpg" alt="#")
                span Открыть оригинал
                    i.icon-zoom
        .slide
            a(href="./img/letters/4.pdf" target="_blank").letters-image
                img(src="./img/letters/4.jpg" alt="#")
                span Открыть оригинал
                    i.icon-zoom
        .slide
            a(href="./img/letters/5.pdf" target="_blank").letters-image
                img(src="./img/letters/5.png" alt="#")
                span Открыть оригинал
                    i.icon-zoom
        .slide
            a(href="./img/letters/6.pdf" target="_blank").letters-image
                img(src="./img/letters/6.jpg" alt="#")
                span Открыть оригинал
                    i.icon-zoom
        .slide
            a(href="./img/letters/7.pdf" target="_blank").letters-image
                img(src="./img/letters/7.jpg" alt="#")
                span Открыть оригинал
                    i.icon-zoom