.objects-slider
    .slide
        .objects-image
            img(src="./img/gallery/1.jpg" alt="#")
            .objects-desc
                .desc-item.light
                    p Пешие дорожки в Сочи. Олимпиада 2014 Чем меньше показатель - тем более стойкий материал.
                    p Teping Пол 205 С
                        span 234 м
                            sup 2
                .desc-item
                    a(data-src="#modal-send-price" href="javascript:;" data-fancybox).btn.btn-white-transparent Сколько стоит сделать также?
    .slide
        .objects-image
            img(src="./img/gallery/2.jpg" alt="#")
            .objects-desc
                .desc-item.light
                    p Пешие дорожки в Сочи. Олимпиада 2014 Чем меньше показатель - тем более стойкий материал.
                    p Teping Пол 205 С
                        span 234 м
                            sup 2
                .desc-item
                    a(data-src="#modal-send-price" href="javascript:;" data-fancybox).btn.btn-white-transparent Сколько стоит сделать также?
    .slide
        .objects-image
            img(src="./img/gallery/3.jpg" alt="#")
            .objects-desc
                .desc-item.light
                    p Пешие дорожки в Сочи. Олимпиада 2014 Чем меньше показатель - тем более стойкий материал.
                    p Teping Пол 205 С
                        span 234 м
                            sup 2
                .desc-item
                    a(data-src="#modal-send-price" href="javascript:;" data-fancybox).btn.btn-white-transparent Сколько стоит сделать также?
    .slide
        .objects-image
            img(src="./img/gallery/4.jpg" alt="#")
            .objects-desc
                .desc-item.light
                    p Пешие дорожки в Сочи. Олимпиада 2014 Чем меньше показатель - тем более стойкий материал.
                    p Teping Пол 205 С
                        span 234 м
                            sup 2
                .desc-item
                    a(data-src="#modal-send-price" href="javascript:;" data-fancybox).btn.btn-white-transparent Сколько стоит сделать также?
    .slide
        .objects-image
            img(src="./img/gallery/5.jpg" alt="#")
            .objects-desc
                .desc-item.light
                    p Пешие дорожки в Сочи. Олимпиада 2014 Чем меньше показатель - тем более стойкий материал.
                    p Teping Пол 205 С
                        span 234 м
                            sup 2
                .desc-item
                    a(data-src="#modal-send-price" href="javascript:;" data-fancybox).btn.btn-white-transparent Сколько стоит сделать также?