#production.production.production_main.block
    .container
        .production-inline
            .production__desc
                h2 Производство
                    i.icon-title
                p Наше производство и склад находятся по адресу:
                p
                    i.icon-pin-map-TNP
                    | Санкт-Петербург, Уткин проспект 15, литер Е (м. Ладожская)
                a(href="#").map-link Посмотреть на карте
                .production-line
                    .production__title: p Импортное сырье
                    .production__desc-line: p Мы работаем на импортных смолах и добавках DER, Bic, Kumho, Name, Name и др. Сыпучие компоненты используем российские. В итоге вы получаете качество мирового уровня по приятной цене. Показатели подтверждаем реальными протоколами испытаний.
                .production-line
                    .production__title: p ISO
                    .production__desc-line: p Производство сертифицировано по ISO (9001:2015)
                .production-line
                    .production__title: i.icon-menu-item-2
                    .production__desc-line: p Мы любим природу, поэтому сделали производство безотходным.
                .production-line
                    .production__title: p Наличие на складе
                    .production__desc-line
                        p Всегда в наличии материалы серого цвета RAL 7040, можно купить любое количество. Убирать полы придется реже, цвет скрывает грязь. Заказные позиции выполним за 3–5 рабочих дней. Колеруем по каталогу RAL.
                        p Если у вас индивидуальная задача мы адаптируем рецептуру в лаборатории.
            .production-image.production-image_index
                img(src="./img/production.png" alt="#")
                .production-sertificat
                    a(href="./img/production-sert.pdf" target="_blank")
                        img(src="./img/production-sert.jpg" alt="#")
                        span Открыть оригинал
                            i.icon-zoom
                    p Наше производство сертифицировано по&nbsp;ISO (9001:2015)