.works-list.row
    .works-list__item.col-md-4
        p.works-list__title: strong Олимпиада Сочи
        .works-list__slider
            .works-list__slide
                img(src="./img/works/thumbnail/1.jpg" alt="#")
                a(href="./img/works/detail/1.jpg" data-fancybox="works-1") Открыть оригинал
                    i.icon-zoom
            .works-list__slide
                img(src="./img/works/thumbnail/2.jpg" alt="#")
                a(href="./img/works/detail/2.jpg" data-fancybox="works-1") Открыть оригинал
                    i.icon-zoom
            .works-list__slide
                img(src="./img/works/thumbnail/3.jpg" alt="#")
                a(href="./img/works/detail/3.jpg" data-fancybox="works-1") Открыть оригинал
                    i.icon-zoom
            .works-list__slide
                img(src="./img/works/thumbnail/4.jpg" alt="#")
                a(href="./img/works/detail/4.jpg" data-fancybox="works-1") Открыть оригинал
                    i.icon-zoom
        .works-list__desc
            p Производим полимерные полы и резиновые покрытия уже 10 лет Нашими клиентами уже стали более 6-ти тысяч компаний, среди которых: Audi, Аэропорт Пулково, РЖД, ФК
            p: a(href="#") Благодарственное письмо
    .works-list__item.col-md-4
        p.works-list__title: strong Офис ФК «Зенит»
        .works-list__slider
            .works-list__slide
                img(src="./img/works/thumbnail/2.jpg" alt="#")
                a(href="./img/works/detail/2.jpg" data-fancybox="works-2") Открыть оригинал
                    i.icon-zoom
            .works-list__slide
                img(src="./img/works/thumbnail/1.jpg" alt="#")
                a(href="./img/works/detail/1.jpg" data-fancybox="works-2") Открыть оригинал
                    i.icon-zoom
            .works-list__slide
                img(src="./img/works/thumbnail/3.jpg" alt="#")
                a(href="./img/works/detail/3.jpg" data-fancybox="works-2") Открыть оригинал
                    i.icon-zoom
            .works-list__slide
                img(src="./img/works/thumbnail/4.jpg" alt="#")
                a(href="./img/works/detail/4.jpg" data-fancybox="works-2") Открыть оригинал
                    i.icon-zoom
        .works-list__desc
            p Производим полимерные полы и резиновые покрытия уже 10 лет Нашими клиентами уже стали более 6-ти тысяч компаний, среди которых: Audi, Аэропорт Пулково, РЖД, ФК
            p: a(href="#") Благодарственное письмо
    .works-list__item.col-md-4
        p.works-list__title: strong Олимпиада Сочи
        .works-list__slider
            .works-list__slide
                img(src="./img/works/thumbnail/3.jpg" alt="#")
                a(href="./img/works/detail/3.jpg" data-fancybox="works-3") Открыть оригинал
                    i.icon-zoom
            .works-list__slide
                img(src="./img/works/thumbnail/1.jpg" alt="#")
                a(href="./img/works/detail/1.jpg" data-fancybox="works-3") Открыть оригинал
                    i.icon-zoom
            .works-list__slide
                img(src="./img/works/thumbnail/5.jpg" alt="#")
                a(href="./img/works/detail/5.jpg" data-fancybox="works-3") Открыть оригинал
                    i.icon-zoom
        .works-list__desc
            p Производим полимерные полы и резиновые покрытия уже 10 лет Нашими клиентами уже стали более 6-ти тысяч компаний, среди которых: Audi, Аэропорт Пулково, РЖД, ФК
    .works-list__item.col-md-4
        p.works-list__title: strong Олимпиада Сочи
        .works-list__slider
            .works-list__slide
                img(src="./img/works/thumbnail/4.jpg" alt="#")
                a(href="./img/works/detail/4.jpg" data-fancybox="works-4") Открыть оригинал
                    i.icon-zoom
            .works-list__slide
                img(src="./img/works/thumbnail/2.jpg" alt="#")
                a(href="./img/works/detail/2.jpg" data-fancybox="works-4") Открыть оригинал
                    i.icon-zoom
        .works-list__desc
            p Производим полимерные полы и резиновые покрытия уже 10 лет Нашими клиентами уже стали более 6-ти тысяч компаний, среди которых: Audi, Аэропорт Пулково, РЖД, ФК
    .works-list__item.col-md-4
        p.works-list__title: strong Невско-Ладожское БВУ
        .works-list__slider
            .works-list__slide
                img(src="./img/works/thumbnail/5.jpg" alt="#")
                a(href="./img/works/detail/5.jpg" data-fancybox="works-5") Открыть оригинал
                    i.icon-zoom
            .works-list__slide
                img(src="./img/works/thumbnail/2.jpg" alt="#")
                a(href="./img/works/detail/2.jpg" data-fancybox="works-5") Открыть оригинал
                    i.icon-zoom
            .works-list__slide
                img(src="./img/works/thumbnail/3.jpg" alt="#")
                a(href="./img/works/detail/3.jpg" data-fancybox="works-5") Открыть оригинал
                    i.icon-zoom
            .works-list__slide
                img(src="./img/works/thumbnail/4.jpg" alt="#")
                a(href="./img/works/detail/4.jpg" data-fancybox="works-5") Открыть оригинал
                    i.icon-zoom
        .works-list__desc
            p Производим полимерные полы и резиновые покрытия уже 10 лет Нашими клиентами уже стали более 6-ти тысяч компаний, среди которых: Audi, Аэропорт Пулково, РЖД, ФК
    .works-list__item.col-md-4
        p.works-list__title: strong Аэропорт Шереметьево
        .works-list__slider
            .works-list__slide
                img(src="./img/works/thumbnail/6.jpg" alt="#")
                a(href="./img/works/detail/6.jpg" data-fancybox="works-6") Открыть оригинал
                    i.icon-zoom
            .works-list__slide
                img(src="./img/works/thumbnail/5.jpg" alt="#")
                a(href="./img/works/detail/5.jpg" data-fancybox="works-6") Открыть оригинал
                    i.icon-zoom
            .works-list__slide
                img(src="./img/works/thumbnail/4.jpg" alt="#")
                a(href="./img/works/detail/4.jpg" data-fancybox="works-6") Открыть оригинал
                    i.icon-zoom
            .works-list__slide
                img(src="./img/works/thumbnail/3.jpg" alt="#")
                a(href="./img/works/detail/3.jpg" data-fancybox="works-6") Открыть оригинал
                    i.icon-zoom
            .works-list__slide
                img(src="./img/works/thumbnail/2.jpg" alt="#")
                a(href="./img/works/detail/2.jpg" data-fancybox="works-6") Открыть оригинал
                    i.icon-zoom
            .works-list__slide
                img(src="./img/works/thumbnail/1.jpg" alt="#")
                a(href="./img/works/detail/1.jpg" data-fancybox="works-6") Открыть оригинал
                    i.icon-zoom
        .works-list__desc
            p Производим полимерные полы и резиновые покрытия уже 10 лет Нашими клиентами уже стали более 6-ти тысяч компаний, среди которых: Audi, Аэропорт Пулково, РЖД, ФК
            p: a(href="#") Благодарственное письмо